

<ion-content padding>

  <ion-grid>
    <ion-row justify-content-center margin-bottom>
      <ion-img src="assets/imgs/logo.png"></ion-img>
    </ion-row> 
    <ion-row justify-content-center margin-bottom>
      <h1>BTC: GBP 7000</h1>
      <p>The average price last week was : GBP 6000</p>
    
    </ion-row>

    <ion-row justify-content-center margin-bottom>
        <button ion-button icon-only round outline>
          <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-item>
    <ion-label>
      Seleccionar Moneda
    </ion-label>
    <ion-select>
      <ion-option *ngFor="let opt of btcOptions" [value]="opt.value" >{{opt.text}}</ion-option>
    </ion-select>
  </ion-item>
</ion-footer>
