page-bitcoin {
    ion-img{

        background: transparent;
        width: 100px;
        height: 100px;
    }

    ion-grid{
        margin-top: 30vh;
    }

    h1{
        color: rgb(207,135,0);

    }
}
